<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.universicar">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />



    <application
        android:name="com.example.universicar.ParseApplication"
        android:icon="@mipmap/app_logo"
        android:label="@string/universicar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.universicar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <activity android:name="com.example.universicar.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.universicar.LoginActivity"
            android:label="Sign In" />
        <activity
            android:name="com.example.universicar.RegistrationActivity"
            android:label="Registration" />
        <activity android:name="com.example.universicar.FormularioCrear" />
        <activity android:name="com.example.universicar.FormularioBuscar" />
        <activity android:name="com.example.universicar.MisViajes" />
        <activity android:name="com.example.universicar.testActivity" />
        <activity
            android:name="com.example.universicar.ListaViajes"
            android:label="Lista Viajes" />
        <activity
            android:name="com.example.universicar.AddVehicleActivity"
            android:label="Add Vehicle" />
        <activity
            android:name="com.example.universicar.MostrarViaje"
            android:label="Add Vehicle" />
        <activity
            android:name="com.example.universicar.BottomNavActivity"
            android:label="Add Vehicle" />
        <activity
            android:name="com.example.universicar.TravelNotFoundActivity"
            android:label="Add Vehicle" />
        <activity
            android:name="com.example.universicar.PerfilActivity"
            android:label="User Admin)" />

        <activity
            android:name="com.example.universicar.RatingActivity"
            android:label="User Admin)" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>