<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.universicar">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ParseApplication"
        android:icon="@mipmap/app_logo"
        android:label="@string/universicar"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.universicar.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Sign In" />

        <activity
            android:name=".RegistrationActivity"
            android:label="Registration" />

        <activity android:name=".CrearViajeActivity1" />
        <activity android:name=".CrearViajeActivity2" />
        <activity android:name=".CrearViajeActivity3" />

        <activity android:name=".BuscarViajeActivity" />
        <activity
            android:name=".ListaViajesActivity"
            android:label="Lista Viajes" />
        <activity
            android:name=".AnadirCocheActivity"
            android:label="Add Vehicle" />
        <activity
            android:name=".MostrarViajeActivity"
            android:label="Add Vehicle" />

        <activity
            android:name=".TravelNotFoundActivity"
            android:label="Add Vehicle" />
        <activity
            android:name=".MiPerfilActivity"
            android:label="User Admin)" />
        <activity
            android:name=".OpinarActivity"
            android:label="Rating" />
        <activity
            android:name=".PerfilActivity"
            android:label="User Profile" />
        <activity
            android:name=".ListaOpinionesActivity"
            android:label="Rating list" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>