<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.intento2" >

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ParseApplication"
        android:icon="@mipmap/app_logo"
        android:label="@string/universicar"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:label="Sign In" />
        <activity android:name=".RegistrationActivity" android:label="Registration" />
        <activity android:name=".FormularioCrear" />
        <activity android:name=".FormularioBuscar" />
        <activity android:name=".MisViajes" />
        <activity android:name=".testActivity" />
        <activity android:name=".ListaViajes" android:label="Lista Viajes" />
        <activity android:name=".AddVehicleActivity" android:label="Add Vehicle" />
        <activity android:name=".MostrarViaje" android:label="Add Vehicle" />
        <activity android:name=".BottomNavActivity" android:label="Add Vehicle" />
        <activity android:name=".TravelNotFoundActivity" android:label="Add Vehicle" />
        <activity android:name=".PerfilActivity" android:label="User Admin)" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>

</manifest>